.container{
    border:solid blue 2px;
    background-color:brown;
    display:flex; 
    flex-flow:row wrap;
    width:900px;
    height:600px;
    justify-content:space-around;
    align-items:center;
}
.container > div{
    width:600px;
    height:600px;
    margin:10px;
    display:flex;
    position:relative;
}
.container > div > img {
    height:20%;
    width:20%;
    position:absolute;
    animation-name:animate1;
    animation-duration:5s;
    animation-iteration-count: infinite; 
    animation-direction:normal;
    animation-delay:2s;
}
/*creating animations*/
@keyframes animate1{
    from {
            left:0;
            top:0;
            /*transform:rotate(0deg);*/
    }
    25%{
        top:0;
        left:460px;
    }
    50% {
            left:460px;
            top:460px;
    }
    75%{
            left:0;
            top:460px;
    }
    to {
            left:0;
            top:0;
    }
}